@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

.app {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #f8f8f8; }
  .app .app-headed > * {
    vertical-align: center; }
  .app .app-headed {
    width: 10rem;
    height: 1.2882447665rem;
    background: -webkit-linear-gradient(to right, #ff5f11, red);
    /*webkit核心浏览器兼容代码*/
    background: -o-linear-gradient(to right, #ff5f11, red);
    /*Opera浏览器兼容代码*/
    background: -moz-linear-gradient(to right, #ff5f11, red);
    /*Firefox 浏览器兼容代码*/
    background: linear-gradient(to right, #ff5f11, red); }
    .app .app-headed .app-headed__search {
      display: inline-block;
      margin-left: 0.4186795491rem;
      margin-top: 0.2415458937rem;
      text-align: center; }
      .app .app-headed .app-headed__search #SearchCoupons {
        display: inline-block;
        width: 7rem;
        height: 0.8051529791rem;
        line-height: 0.8051529791rem;
        background: rgba(250, 250, 250, 0.5);
        border: none;
        border-radius: 1px; }
      .app .app-headed .app-headed__search #SearchCoupons::-webkit-input-placeholder {
        background-image: url("../icon/search-white-icon-69a3f21fd0.png");
        background-repeat: no-repeat;
        /*背景小图标不重复*/
        background-position: 2.0128824477rem 0.1610305958rem;
        /*小图标在input的位置*/
        background-size: 0.4830917874rem;
        /*小图标的大小*/
        line-height: 0.8051529791rem;
        padding-left: 2.4959742351rem;
        color: white; }
    .app .app-headed .app-headed__MaleVersion {
      display: inline-block; }
      .app .app-headed .app-headed__MaleVersion .app-headed__MaleVersion--Male {
        display: inline-block;
        height: 0.8051529791rem;
        color: white;
        font-size: 0.4025764895rem;
        margin-left: 0.3220611916rem;
        line-height: 0.8051529791rem; }
      .app .app-headed .app-headed__MaleVersion .app-headed__MaleVersion--Return {
        display: inline-block;
        height: 0.8051529791rem;
        line-height: 0.8051529791rem;
        color: white;
        font-size: 0.5636070853rem;
        margin-left: 0.4025764895rem; }
  .app .app-body {
    width: 10rem;
    overflow: hidden; }
    .app .app-body .app_container {
      width: 10rem; }
      .app .app-body .app_container ul {
        cursor: pointer; }
      .app .app-body .app_container li {
        font-size: 0.4025764895rem;
        display: inline-block;
        line-height: 1.2077294686rem;
        text-align: center;
        width: 1.8rem; }
      .app .app-body .app_container li:hover {
        color: red;
        border-bottom: red 2px solid; }
      .app .app-body .app_container img {
        width: .5rem;
        height: .4rem; }
    .app .app-body .app-body-swiper-wrapper {
      position: relative;
      width: 100%;
      height: 1.0466988728rem; }
      .app .app-body .app-body-swiper-wrapper .swiper-slide {
        display: inline-block;
        background: #f1f1f1;
        color: #000;
        text-align: center;
        line-height: 1.0466988728rem; }
    .app .app-body .swiper-wrapper {
      height: 3.1078904992rem; }
      .app .app-body .swiper-wrapper .swiper-slide {
        cursor: pointer;
        line-height: 3.1078904992rem; }
        .app .app-body .swiper-wrapper .swiper-slide img {
          width: 10rem;
          height: 3.1561996779rem; }
    .app .app-body .app-body__ExplosiveMoney {
      display: inline-block;
      width: 10rem; }
      .app .app-body .app-body__ExplosiveMoney .app-body__FreeShipping {
        display: inline-block;
        cursor: pointer;
        width: 4.9355877617rem;
        height: 2.4959742351rem; }
      .app .app-body .app-body__ExplosiveMoney .app-body__ExplosiveShipping {
        cursor: pointer;
        width: 4.9758454106rem;
        height: 2.4959742351rem; }
    .app .app-body .app-body_commodity > * {
      vertical-align: center; }
  .app .Commodity {
    display: inline-block;
    width: 10rem;
    background: white;
    position: relative;
    overflow: hidden; }
    .app .Commodity .CommodityImg {
      display: inline-block;
      width: 3.4541062802rem;
      height: 3.4541062802rem;
      border: black solid 1px;
      margin-top: 0.2173913043rem;
      margin-left: 0.3220611916rem; }
    .app .Commodity .CommodityContent {
      position: absolute;
      top: 0.4025764895rem;
      left: 4.0257648953rem;
      display: inline-block; }
      .app .Commodity .CommodityContent .CommodityContent_Title {
        font-size: 0.3703703704rem;
        letter-spacing: 0.0241545894rem; }
      .app .Commodity .CommodityContent .CommodityContent_Number {
        margin-top: 0.2415458937rem;
        font-size: 0.3381642512rem;
        color: #fe5855; }
      .app .Commodity .CommodityContent .CommodityContent_Price {
        font-size: 0.4911433172rem;
        color: red;
        font-weight: bold;
        position: absolute;
        top: 1.4492753623rem; }
      .app .Commodity .CommodityContent .CommodityContent_Subsidy {
        width: 1.5942028986rem;
        height: 0.3784219002rem;
        line-height: 0.3784219002rem;
        font-size: 0.2415458937rem;
        background: #ffeced;
        position: absolute;
        top: 1.4492753623rem;
        left: 1.690821256rem;
        text-align: center;
        border-top-left-radius: 15%;
        border-top-right-radius: 15%;
        border-bottom-right-radius: 15%; }
      .app .Commodity .CommodityContent .CommodityContent_Original {
        width: 1.6103059581rem;
        font-size: 0.3220611916rem;
        position: absolute;
        color: #9c9c9c;
        top: 1.5297906602rem;
        left: 4.0257648953rem; }
      .app .Commodity .CommodityContent .CommodityContent_btn {
        width: 5.5877616747rem;
        height: 0.7971014493rem;
        position: absolute;
        top: 2.1739130435rem;
        border-radius: 0.0966183575rem;
        text-align: center;
        color: white;
        font-size: 0.4186795491rem;
        line-height: 0.7971014493rem;
        background: -webkit-linear-gradient(to right, #ff5b29, red);
        /*webkit核心浏览器兼容代码*/
        background: -o-linear-gradient(to right, #ff5f11, red);
        /*Opera浏览器兼容代码*/
        background: -moz-linear-gradient(to right, #ff5f11, red);
        /*Firefox 浏览器兼容代码*/
        background: linear-gradient(to right, #ff5f11, red); }
  .app .sex_select__box {
    position: absolute;
    top: 2.3268921095rem;
    width: 10rem;
    height: 100vh;
    z-index: 999;
    padding: 1px;
    background: rgba(0, 0, 0, 0.7);
    display: none; }
    .app .sex_select__box .sex_select {
      width: 8.0193236715rem;
      height: 7.6006441224rem;
      border-radius: 0.1288244767rem;
      margin-left: 0.9661835749rem;
      background-color: white;
      margin-top: 2.4637681159rem; }
      .app .sex_select__box .sex_select .sex-select__img {
        padding-top: 0.4508856683rem;
        text-align: right;
        margin-right: 0.3301127214rem; }
      .app .sex_select__box .sex_select .sex_select__title {
        font-size: 0.6360708535rem;
        padding-top: 0.3220611916rem;
        text-align: center; }
      .app .sex_select__box .sex_select .sex_select__item {
        font-size: 0.3301127214rem;
        color: #bfbfbf;
        margin-top: 0.3784219002rem;
        text-align: center; }
      .app .sex_select__box .sex_select .sex_select__sex {
        margin-top: 0.9098228663rem; }
        .app .sex_select__box .sex_select .sex_select__sex .sex_select__gir {
          margin-left: 1.7713365539rem;
          margin-left: 1.7713365539rem; }
        .app .sex_select__box .sex_select .sex_select__sex .sex_select__men {
          margin-left: 1.6103059581rem; }
        .app .sex_select__box .sex_select .sex_select__sex .SwitchContent_images {
          width: 1.6827697262rem; }
  .app .app_Merchandise {
    display: none;
    position: absolute;
    top: 1.2077294686rem;
    left: 0;
    overflow: hidden;
    width: 10rem;
    height: 12.2785829308rem;
    z-index: 999; }
    .app .app_Merchandise .app_Merchandise_top {
      background: white;
      border-bottom-left-radius: 0.0161030596rem;
      border-bottom-right-radius: 0.0161030596rem;
      -webkit-box-shadow: #666 0 0 0.0805152979rem;
      box-shadow: #666 0 0 0.0805152979rem; }
      .app .app_Merchandise .app_Merchandise_top .app_Merchandise_All {
        display: inline-block;
        width: 4.8rem;
        height: 1.0708534622rem;
        line-height: 1.0708534622rem;
        font-size: 0.3623188406rem;
        margin-left: 4rem; }
      .app .app_Merchandise .app_Merchandise_top .app_Merchandise_step {
        display: inline-block;
        font-size: 0.3623188406rem;
        color: #9c9c9c; }
    .app .app_Merchandise .app_Merchandise_details {
      overflow: hidden;
      width: 10rem;
      height: 8.8566827697rem;
      background: white; }
      .app .app_Merchandise .app_Merchandise_details .TodaySelection {
        display: inline-block;
        width: 2.3rem;
        text-align: center;
        margin-top: 0.4830917874rem; }
        .app .app_Merchandise .app_Merchandise_details .TodaySelection .TodaySelection_image {
          display: inline-block;
          width: 2.5rem; }
          .app .app_Merchandise .app_Merchandise_details .TodaySelection .TodaySelection_image img {
            display: inline-block;
            width: 0.8051529791rem;
            height: 0.8051529791rem; }
        .app .app_Merchandise .app_Merchandise_details .TodaySelection .TodaySelection_text {
          display: inline-block;
          font-size: 0.305958132rem;
          margin-left: 0.2415458937rem;
          margin-top: 0.2415458937rem; }
  .app .SearchBox > * {
    vertical-align: center; }
  .app .SearchBox {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 10rem;
    height: 1.2882447665rem;
    background: white;
    z-index: 999; }
    .app .SearchBox .SearchBox__search {
      display: inline-block;
      margin-left: 0.4186795491rem;
      margin-top: 0.2415458937rem;
      text-align: center;
      position: relative; }
      .app .SearchBox .SearchBox__search #SearchBoxCoupons {
        text-indent: 0.9661835749rem;
        display: inline-block;
        width: 7rem;
        height: 0.8051529791rem;
        line-height: 0.8051529791rem;
        background: #f7f7f7;
        border: none;
        border-radius: 1px; }
      .app .SearchBox .SearchBox__search #SearchBoxCoupons::-webkit-input-placeholder {
        line-height: 0.8051529791rem;
        padding-left: 0.1610305958rem;
        color: #757575; }
      .app .SearchBox .SearchBox__search .SearchIcon {
        position: absolute;
        top: 0.2012882448rem;
        left: 0.4106280193rem;
        width: 0.4025764895rem; }
      .app .SearchBox .SearchBox__search .SearchBox__MaleVersion--Return {
        position: absolute;
        top: 0.2818035427rem;
        left: 6.4412238325rem;
        width: 0.4025764895rem; }
    .app .SearchBox .SearchBox__MaleVersion {
      display: inline-block; }
      .app .SearchBox .SearchBox__MaleVersion .SearchBox__MaleVersion--Male {
        display: inline-block;
        height: 0.8051529791rem;
        color: #757575;
        font-size: 0.4025764895rem;
        margin-left: 0.5636070853rem;
        line-height: 0.8051529791rem; }

/*# sourceMappingURL=index.css.map */
